
.placeholder{
    text-align: center;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.subcontent{}
.subcontent-window{
    height:25vh;
}
.p-null{
    padding: 0;
}
.m-null{
    margin: 0;
}
#content-blog{
    margin: 1%;
}
#blog-title{
    text-decoration: underline;
}
#blog-window{
    height: 75vh;
    border: 1px solid black;

}
#blog-content{
    padding-left: 3px;
}